<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DocuSignEmailSubject" value="Member OnBoarding Documents" />
    <add key="DocuSignEmailBody" value="Please review and sign the document." />
    <add key="DocuSignBasePath" value="https://demo.docusign.net/restapi" />
    <add key="DocuSignUsername" value="suneer.pa@claysys.net" />
    <add key="DocuSignPassword" value="P@ssw0rd1" />
    <add key="DocuSignIntegratorKey" value="82fc3ad6-2fc1-43cd-b398-3a1025c1174c" />
    <add key="UseCredentialStore" value="false" />
    <add key="CredentialStoreKey" value="DocuSign" />
    <add key="GetFileFromPath" value="true" />
    <add key="LogFileLocation" value="C:\Users\bijeesh\Source\Repos\DocusignAPI\DocuSignAPI\Logs" />
    <add key="DocumentName" value="MSR New Membership.docx" />
    <add key="FilePath" value="C:\Users\bijeesh\Source\Repos\DocusignAPI\DocuSignAPI\DocuSignDocs" />
    <add key="ReciName" value="Suneer.P.A"/>
    <add key="ReciEmail" value="suneer.pa@claysys.com"/>
    <add key="ReciId" value=""/>
    <add key="SelectDocuSignDataProcName" value="SPS_DocuSign"/>
  </appSettings>
  <connectionStrings>
    <add name="connectSQL" connectionString="Data Source=sys334;Initial Catalog=AltraOnboarding;User ID=sa;Password=sa123$;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
